{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - message: The completion message.
 * - payment_instructions: The payment instructions, if provided.
 * - events: Events' participant information
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
  {{- message -}}

  {% if payment_instructions %}
    <div class="checkout-complete__payment-instructions">
      <h2>{{ 'Payment instructions'|t }}</h2>
      {{ payment_instructions }}
    </div>
  {% endif %}
  {% if events %}
    <div class="event-registrant-information">
    <h2>Event Registration Information</h2>
    {% for event in events %}
      <strong>{{ event.title }}</strong>
      <ul>
      {% for participant in event.participants %}
        <li>{{ participant.first_name }} {{ participant.last_name }} {{ participant.email }}</li>
      {% endfor %}
    {% endfor %}
    </div>
  {% endif %}
</div>
