<div class="event-registrant-information">
{% for event in events %}
  <strong>{{ event.title }}</strong>
  <ul>
  {% for participant in event.participants %}
    <li>{{ participant.first_name }} {{ participant.last_name }} {{ participant.email }}</li>
  {% endfor %}
{% endfor %}
</div>